<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<connectionStrings>
		<!-- Data source es el valor del nombre del a conexion disponible -->
		<add name="cnn" connectionString="Data Source=CASA;Initial Catalog=BD_SISTEMA_ONG;Integrated Security=True"/>
	</connectionStrings>
</configuration>
